body{
  background: #EAEAEA;
  text-align: center;
}

h1{
  font-size: 3.5rem;
  color: #FA2;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  margin: 5px 0 15px;
}

#game-list{
  width: 100%;
  max-width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.game{
  width: 250px;
  height: 250px;
  background: #000;
  border: 5px solid #000;
  border-radius: 5px;
  margin-bottom: 30px;
}

.slot{
  width: 80px;
  height: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #FFF;
  float: left;
  cursor: pointer;
  position: relative;
}

.slot:nth-of-type(3n){
  margin-right: 0;
}

.slot.circle{
  background: #F55;
}

.slot.x{
  background: #55F;
}

.slot.circle::after{
  content: '';
  display: block;;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  border: 15px solid #FFF;
  cursor: default;
}

.slot.x::after, .slot.x::before{
  content: '';
  display: block;
  width: 80px;
  border-top: 15px solid #FFF;
  position: absolute;
  top: 32px;
  left: 0;
}

.slot.x::after{
  transform: rotate(45deg);
}

.slot.x::before{
  transform: rotate(-45deg);
}
